<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-plan-options-heading"
        data-cy="PlanOptionsCreateUpdateHeading"
        jhiTranslate="shopTvJhipsterApp.planOptions.home.createOrEditLabel"
      >
        Create or edit a Plan Options
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.planOptions.aeTemplateLimit" for="field_aeTemplateLimit"
            >Ae Template Limit</label
          >
          <input
            type="text"
            class="form-control"
            name="aeTemplateLimit"
            id="field_aeTemplateLimit"
            data-cy="aeTemplateLimit"
            formControlName="aeTemplateLimit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.planOptions.videoSubmittionLimit" for="field_videoSubmittionLimit"
            >Video Submittion Limit</label
          >
          <input
            type="text"
            class="form-control"
            name="videoSubmittionLimit"
            id="field_videoSubmittionLimit"
            data-cy="videoSubmittionLimit"
            formControlName="videoSubmittionLimit"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.planOptions.emojis" for="field_emojis">Emojis</label>
          <input type="checkbox" class="form-check" name="emojis" id="field_emojis" data-cy="emojis" formControlName="emojis" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.planOptions.storage" for="field_storage">Storage</label>
          <input type="text" class="form-control" name="storage" id="field_storage" data-cy="storage" formControlName="storage" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
