<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading" jhiTranslate="shopTvJhipsterApp.client.home.createOrEditLabel">
        Create or edit a Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.client.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.client.gender" for="field_gender">Gender</label>
          <input type="text" class="form-control" name="gender" id="field_gender" data-cy="gender" formControlName="gender" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.client.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
          <div class="d-flex">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="datetime-local"
              class="form-control"
              name="dateOfBirth"
              formControlName="dateOfBirth"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.client.currentPlanOffer" for="field_currentPlanOffer"
            >Current Plan Offer</label
          >
          <input
            type="text"
            class="form-control"
            name="currentPlanOffer"
            id="field_currentPlanOffer"
            data-cy="currentPlanOffer"
            formControlName="currentPlanOffer"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.client.job" for="field_job">Job</label>
          <select class="form-control" name="job" formControlName="job" id="field_job" data-cy="job">
            <option [ngValue]="null">{{ 'shopTvJhipsterApp.Job.null' | translate }}</option>
            <option *ngFor="let job of jobValues" [value]="job">{{ 'shopTvJhipsterApp.Job.' + job | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.client.plan" for="field_plan">Plan</label>
          <select class="form-control" id="field_plan" data-cy="plan" name="plan" formControlName="plan" [compareWith]="comparePlan">
            <option [ngValue]="null"></option>
            <option [ngValue]="planOption" *ngFor="let planOption of plansSharedCollection">{{ planOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.client.address" for="field_address">Address</label>
          <select
            class="form-control"
            id="field_address"
            data-cy="address"
            name="address"
            formControlName="address"
            [compareWith]="compareAddress"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="addressOption" *ngFor="let addressOption of addressesSharedCollection">{{ addressOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shopTvJhipsterApp.client.appUser" for="field_appUser">App User</label>
          <select
            class="form-control"
            id="field_appUser"
            data-cy="appUser"
            name="appUser"
            formControlName="appUser"
            [compareWith]="compareAppUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="appUserOption" *ngFor="let appUserOption of appUsersSharedCollection">{{ appUserOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
