<div class="m-container">
  <div class="header">
    <h2 data-cy="categoryDetailsHeading"><span jhiTranslate="shopTvJhipsterApp.category.detail.title">Statistics</span></h2>
    <br />
  </div>
  <div class="flex">
    <div class="firstchart">
      <div id="chart" style=""></div>
    </div>
    <div class="firstchart">
      <div id="chart3" style=""></div>
    </div>
    <div class="firstchart">
      <div id="chart2" style=""></div>
    </div>
    <div class="firstchart">
      <div id="chart4" style=""></div>
    </div>
  </div>
</div>
