<div>
  <h2 id="page-heading" data-cy="PurchaseHistoryHeading">
    <span jhiTranslate="shopTvJhipsterApp.purchaseHistory.home.title">Purchase Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shopTvJhipsterApp.purchaseHistory.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchase-history"
        [routerLink]="['/purchase-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shopTvJhipsterApp.purchaseHistory.home.createLabel"> Create a new Purchase History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="purchaseHistories?.length === 0">
    <span jhiTranslate="shopTvJhipsterApp.purchaseHistory.home.notFound">No Purchase Histories found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="purchaseHistories && purchaseHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="plan">
            <div class="d-flex">
              <span jhiTranslate="shopTvJhipsterApp.purchaseHistory.plan">Plan</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="purchaseDate">
            <div class="d-flex">
              <span jhiTranslate="shopTvJhipsterApp.purchaseHistory.purchaseDate">Purchase Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="client.id">
            <div class="d-flex">
              <span jhiTranslate="shopTvJhipsterApp.purchaseHistory.client">Client</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let purchaseHistory of purchaseHistories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/purchase-history', purchaseHistory.id, 'view']">{{ purchaseHistory.id }}</a>
          </td>
          <td>{{ purchaseHistory.plan }}</td>
          <td>{{ purchaseHistory.purchaseDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="purchaseHistory.client">
              <a [routerLink]="['/client', purchaseHistory.client.id, 'view']">{{ purchaseHistory.client.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/purchase-history', purchaseHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/purchase-history', purchaseHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(purchaseHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
